<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <button class="btn btn-outline-secondary btn-lg">Contactez nous</button>
  </div>
</div>

<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4 padding">Bienvenue sur la lumière du savoir.</h1>
    </div>
    <hr>
    <div class="col-12 padding">
      <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua.
        At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fas fa-code"></i>
      <h3>HTML5</h3>
      <p>Built with the latest version of HTML, HTML5.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fas fa-bold"></i>
      <h3>Bootstrap</h3>
      <p>Built with the latest version of Bootstrap, Bootstrap4.</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <i class="fab fa-css3"></i>
      <h3>CSS3</h3>
      <p>Built with the latest version of CSS, CSS3.</p>
    </div>
  </div>
  <hr class="my-4">
</div>

<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-lg-6 padding">
      <h2>Voulez-vous toucher cette lumière...</h2>
      <p>Lorem ipsum dolor sit amet,ing invidunt ut labore et dolore
        magna aliquyam eratse eos et accusam et justo duo dolores et ea rebum.</p>
      <p>Lorem ipsum dolor sit amet,ing invidunt ut labore et dolore
        magna aliquyam eratse eos et accusam et justo duo dolores et ea rebum.</p>
      <p>Lorem ipsum dolor sit amet,ing invidunt ut labore et dolore
        magna aliquyam eratse eos et accusam et justo duo dolores et ea rebum.</p>
      <br>
      <button class="btn btn-outline-secondary">En savoir plus</button>
    </div>
    <div class="col-lg-6">
      <img src="../assets/images/1_bis.jpg" class="img-fluid" alt="">
    </div>
  </div>
</div>
<hr class="my-4">

<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Rencontrez notre équipe </h1>
    </div>
    <hr>
  </div>
</div>

<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-4 padding">
      <div class="card">
        <img class="card-img-top" src="../assets/images/1.jpg">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">John is an internet entreprener with almost
            20 years of experience.
          </p>
          <button class="btn btn-outline-secondary">Profile</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 padding">
      <div class="card">
        <img class="card-img-top" src="../assets/images/1.jpg">
        <div class="card-body">
          <h4 class="card-title">Mary Jo</h4>
          <p class="card-text">John is an internet entreprener with almost
            20 years of experience.
          </p>
          <button class="btn btn-outline-secondary">Profile</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 padding">
      <div class="card">
        <img class="card-img-top" src="../assets/images/1.jpg">
        <div class="card-body">
          <h4 class="card-title">Phil Ho</h4>
          <p class="card-text">John is an internet entreprener with almost
            20 years of experience.
          </p>
          <button class="btn btn-outline-secondary">Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-lg-6">
      <h2>Notre philosophie</h2>
      <p>Lorem ipsum dolor sit amet,ing invidunt ut labore et dolore
        magna aliquyam eratse eos et accusam et justo duo dolores et ea rebum.</p>
      <p>Lorem ipsum dolor sit amet,ing invidunt ut labore et dolore
        magna aliquyam eratse eos et accusam et justo duo dolores et ea rebum.</p>
      <br>
    </div>
    <div class="col-lg-6">
      <img src="../assets/images/1_bis.jpg" class="img-fluid" alt="">
    </div>
  </div>
  <hr class="my-4">
</div>

<div class="container-fluid padding">
  <div class="row text-center paddin">
    <div class="col-12">
      <h2>Connect</h2>
    </div>
    <div class="col-12 social padding">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-google-plus-g"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>