.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.fa-code {
  color: #e54d26;
}

.fa-bold {
  color: #563d7c;
}

.fa-css3 {
  color: #2163af;
}

.fa-code,
.fa-bold,
.fa-css3 {
  font-size: 4em;
  margin: 1rem;
}

.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-google-plus-g {
  color: #dd4b39;
}

.fa-instagram {
  color: #517fa4;
}

.fa-youtube {
  color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}

@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }

  .carousel-caption h1 {
    font-size: 200%
  }

  .carousel-caption h3 {
    font-size: 120%;
    font-weight: 400;
    padding-bottom: .2rem;
  }

  .display-4 {
    font-size: 200%;
  }

  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }

  .carousel-caption h1 {
    font-size: 250%
  }

  .carousel-caption h3 {
    font-size: 110%
  }

  .carousel-indicators {
    display: none;
  }

  .display-4 {
    font-size: 160%;
  }

  .social a {
    font-size: 2em;
    padding: .7rem;
  }
}
